@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

body { font-family: 'Roboto', sans-serif; font-size:16px; font-weight:300; background-color:#EEEEEE}

#page{padding:0; margin:0;}

body>#page {text-align: center; }

h1{text-align: center;}

section {
    margin: 0; background: #F44336;
    display: inline-block; width:30%; height:10em;
    color: #ffffff; position:relative;
}

section h2 {font-size:1em; font-weight:400; margin: 1em 1em; position: absolute; left:0; top:0;}
section h3 {
    font-size:1em; font-size:1em; font-weight:300;
    margin: 1em 1em; position: absolute; right:0; bottom:0;
    border: 1px solid #fff; padding: 0.25em 1em;
    transition: background-color .5s;
}
section h3:hover{ background-color: rgba(0,0,0,0.3);}



@media screen and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2){
    section {
        background: #ff00ff;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 3){
    section {
        background: #00ffff;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (-webkit-max-device-pixel-ratio: 4){
    section {
        background: #ffff00;
    }
}

@media screen and (max-width: 1024px) and (-webkit-device-pixel-ratio: 1){
    section { width:30%; height:12em}
}

@media screen and (max-width: 2048px) and (-webkit-device-pixel-ratio: 2){
    section { width:30%; height:12em}
}

@media screen and (max-width: 3072px) and (-webkit-device-pixel-ratio: 3){
    section { width:30%; height:12em}
}


@media screen and (max-width: 1000px) and (-webkit-device-pixel-ratio: 2){
    section { width:49%; }
    h1 {font-size:1.5em}
}

@media screen and (max-width: 1500px) and (-webkit-device-pixel-ratio: 3){
    section { width:49%;}
    h1 {font-size:1.5em}
}



@media screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 3){
    section { width:99%;}
    h1 {font-size:1em}
}

@media screen and (max-width: 640px) and (-webkit-device-pixel-ratio: 2){
    section { width:99%;}
    h1 {font-size:1em}
}

@media screen and (max-width: 500px) and (-webkit-device-pixel-ratio: 1){
    section { width:49%; }
    h1 {font-size:1.5em}
}

@media screen and (max-width: 320px) and (-webkit-device-pixel-ratio: 1){
    section { width:99%;}
    h1 {font-size:1em}
}
